ul,
li {
  display: inline-block;
  margin-left: 40px;
}
a {
  text-decoration: none;
}
#fotter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  position: absolute;
  top: 630px;
  text-align: center;
  background-color: aquamarine;
}
@media (min-width: 500px) {
  #footer {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
}
#signup {
  width: 300px;
  text-align: center;
}
.header-image {
  width: 20px;
}
.header-class {
  display: inline;
  padding-left: 15px;
}
.header {
  background-color: grey;
  padding: 10px;
}

.header-button {
  text-align: center;
  display: flex;
  justify-content: end;
  float: right;
  padding: 8px;
  margin-top: 5px;
}
#formik-head {
  width: 350px;
  margin-top: 10px;
}
#outlined-basic {
  margin-bottom: 10px;
}
